<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin|page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/admin.css">

</head>
<body>
    <h1>Admin page</h1>
    <main>
        <div id="message-container"></div>

        <a href="/admin/add">اضافه منتجات</a>
        <a href="/admin/edit">تعديل منتجات</a>
        <a href="#">حذف منتجان</a>

    </main>
        <script src="/javascripts/prod.js"></script>

</body>
</html>